* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.booking {
  min-height: 997px;
  background-image: url("../media/img/booking-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 140px 0;
}
.booking__form {
  max-width: 920px;
  background-color: rgba(41, 46, 54, 0.95);
  margin-right: auto;
  margin-left: auto;
  padding: 140px 140px 155px 140px;
  text-align: center;
}
.booking__info {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 1px solid #e1b168;
  border-bottom: 1px solid #e1b168;
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 11px;
}
.booking__title {
  font-family: "Cormorant Infant";
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 38px;
}
.booking__inputs-wrapper {
  max-width: 640px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.booking__input {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #858585;
  padding: 18px 23px;
}
.booking__input:focus {
  outline: unset;
}
.booking__input::placeholder {
  color: #ffffff;
}
.input--name {
  width: 40%;
  flex-grow: 1;
}
.input--email {
  width: 40%;
  flex-grow: 1;
}
.input--pearsons {
  width: 20%;
  flex-grow: 1;
}
.input--timing {
  width: 20%;
  flex-grow: 1;
}
.input--date {
  width: 20%;
  flex-grow: 1;
}
.booking__submit-btn {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #000000;
  padding: 20px 54px;
}

@media (max-width: 480px) {
  .booking {
    padding: 50px 0;
    min-height: auto;
    background-position: center bottom;
  }
  .booking__title {
    margin-bottom: 30px;
  }
  .booking__form {
    padding: 40px 20px;
  }
  .booking__input {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
  }
  .booking__inputs-wrapper {
    margin-bottom: 40px;
  }
  .booking__submit-btn {
    font-size: 20px;
    line-height: 20px;
    padding: 15px 50px;
  }
}
