@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");

.container {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

.hero {
  background-color: #292e36;
}
