.main-logo {
  margin-right: auto;
  margin-left: auto;
}

.header-btn {
  cursor: pointer;
  background: local;
  border: 2px solid #e1b168;
  border-radius: 0px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 73px;
}
.header {
  background: #292e36;
  position: relative;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.call-btn {
  text-decoration: none;
  letter-spacing: 0.2px;
}
.reservation-btn {
  letter-spacing: 0.44px;
  padding: 20px 85px;
}
.header-btn:hover {
  background: #e1b168;
  color: #292e36;
}
.line {
  border: 1px solid #5c6168;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  background: #292e36;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style-type: none;
  width: 100%;
}
.nav-item a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}
.nav-item a:hover {
  color: #e1b168;
}
i {
  font-size: 1.4rem;
  cursor: pointer;
  color: white;
}
i:hover {
  color: #e1b168;
}
.icons {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: auto;
}

.header__menu-btn-wrapper {
  display: none;
}

@media (max-width: 480px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar {
    display: none;
  }
  .call-btn {
    display: none;
  }
  .reservation {
    display: none;
  }
  .main-logo {
    width: 120px;
    margin-right: auto;
    margin-left: 0;
  }
  .main-logo img {
    width: 100%;
  }
  .action {
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 15px 0;
  }

  /* Burger menu */

  .header__menu-btn-wrapper {
    display: inline-block;
    background-color: transparent;
    border: unset;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
  }

  .header__menu-btn-wrapper:focus {
    outline: unset;
  }

  .header__burger-menu {
    width: 100%;
    height: 2px;
    background-color: #e1b168;
    position: relative;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .header__burger-menu::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e1b168;
    position: absolute;
    top: -10px;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .header__burger-menu::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e1b168;
    position: absolute;
    top: 10px;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .header__menu-btn-wrapper.active .header__burger-menu {
    transform: rotate(45deg);
  }
  .header__menu-btn-wrapper.active .header__burger-menu::after {
    transform: translate(50px, 50px) rotate(-10deg);
    opacity: 0;
  }
  .header__menu-btn-wrapper.active .header__burger-menu::before {
    top: 0;
    transform: rotate(-90deg);
  }

  /* Header menu */

  .header.mobile-menu::after {
    content: "";
    width: 100%;
    height: 115vh;
    background-color: #292e36;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  .header.mobile-menu .call-btn {
    display: block;
    position: absolute;
    top: 25px;
    z-index: 101;
    font-size: 18px;
    width: auto;
    height: auto;
    line-height: 1;
    padding: 12px 20px 8px 20px;
  }
  .header.mobile-menu .reservation {
    display: block;
    position: absolute;
    top: 440px;
    z-index: 101;
    font-size: 80px;
  }
  .header.mobile-menu .reservation .reservation-btn {
    width: 92vw;
    height: 0;
  }

  .header.mobile-menu .navbar {
    display: block;
    position: absolute;
    top: 95px;
    z-index: 101;
    width: 90vw;
  }
  .header.mobile-menu .navbar .nav-links {
    display: block;
    text-align: center;
  }
  .header.mobile-menu .navbar .nav-links .nav-item {
    margin-bottom: 10px;
  }
  .header.mobile-menu .navbar .nav-links .icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  body.overflow {
    height: 100vh;
    overflow: hidden;
  }
}
