@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1360px;
  margin-right: auto;
  margin-left: auto;
}

.main-logo {
  margin-right: auto;
  margin-left: auto;
}

.header-btn {
  cursor: pointer;
  background: local;
  border: 2px solid #e1b168;
  border-radius: 0px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 295px;
  height: 73px;
}
.header {
  background: #292e36;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 108px;
  padding: 50px 0;
}
.call-btn {
  text-decoration: none;
  letter-spacing: 0.2px;
}
.reservation-btn {
  letter-spacing: 0.44px;
  padding: 20px 85px;
}
.header-btn:hover {
  background: #e1b168;
  color: #292e36;
}
.line {
  border: 1px solid #5c6168;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style-type: none;
  width: 100%;
}
.nav-item a {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #ffffff;
  text-decoration: none;
}
.nav-item a:hover {
  color: #e1b168;
}
i {
  font-size: 1.4rem;
  cursor: pointer;
  color: white;
}
i:hover {
  color: #e1b168;
}
.icons {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin-left: auto;
}
