@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.offers {
    margin-top: 140px;
}
.offer__text_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    row-gap: 10px;
}
.offer_span {
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #292e36;
	padding: 5px;
	border-bottom: 1px solid #e1b168;
	border-top: 1px solid #e1b168;
}
.offer_title {
	font-family: "Cormorant Infant";
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 56px;
	text-align: center;
	letter-spacing: 0.2px;
	text-transform: capitalize;
	color: #292e36;
}
.offer_text {
	font-family: "Josefin Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #555555;
}
.offer__img_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px   ;
}
